{% extends "base.html" %}

{% block head %}
  <!-- super pulls in the parent's head block -->
  {{ super() }} 
  <!-- can add additional head here below here before the endblock -->
{% endblock %}


{% block body %}
  <div class="container">
    <div class="row pt-4">
      <a href="{{ url_for('bam_logout') }}">Logout</a>
    </div>
    <div class="row justify-content-center pt-4">
      <img src='{{ url_for('static', filename='images/bam-logo.png') }}' height="100px" width="100px" />
    </div>
    <div class="row justify-content-center pt-4">
      <h2 style="font-weight: bold;">Bose Audio Messages</h2>
    </div>
    <div class="row justify-content-center">
      <p>Tap and hold a product to record, release to send.</p>
    </div>
    <div class="row justify-content-center">
      <p>Set the volume:  </p> 
      <input
        type="text"
        name="volume-slider"
        id="volume-slider"

        data-slider-min="0"
        data-slider-max="100"
        data-slider-step="5"
        data-slider-value="{{ preferred_volume }}"
        data-slider-tooltip="always"
      >
    </div>
    <div class="row justify-content-center">
      <div id="buttons">
        {% for product in products %}
        <div class="row justify-content-center pb-4">
          <input type="image" id="{{ product.product_id }}" value="{{ product.product_name }}"
            src="{{ url_for('static', filename='images/' + product.image_name + '.png') }}"
            imageName="{{ product.image_name }}"
            height="220px" width="220px">
        </div>
        <div class="row justify-content-center pb-4">
          <span style="font-weight: bold;">{{ product.product_name }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% for image_filename in image_filenames %}
    <img src="{{ url_for('static', filename='images/' + image_filename) }}" height="1px" width="1px" style="display: none;"/>
  {% endfor %}

  <!-- set root of server to JS variable -->
  <script type=text/javascript>
    window.serverRoot = "{{ url_for('landing') }}";
    window.staticFilepath = "{{ url_for('static', filename='') }}";
  </script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
