{% extends "base.html" %}

{% block head %}
  <!-- super pulls in the parent's head block -->
  {{ super() }} 
  <!-- can add additional head here below here before the endblock -->
{% endblock %}

{% block body %}
  <div class="container px-4">
    <div class="row justify-content-center">
      <p class="mx-auto center" style="font-size: 18px;">
        Link your Bose account to your BAM account so you can start sending messages.
      </p>
    </div>
    <div class="row justify-content-center pt-4">
      <a class="btn btn-dark center" style="text-transform: none;" role="button" href="https://partners.api.bose.io/auth/oauth/authorize?response_type=code&client_id={{ client_id }}&redirect_uri={{ redirect_url }}&scope=owned_products_all&state=bambros">Link Accounts</a>
    </div>
  </div>
{% endblock %}
