{% extends "base.html" %}

{% block head %}
  <!-- super pulls in the parent's head block -->
  {{ super() }} 
  <!-- can add additional head here below here before the endblock -->
{% endblock %}


{% block body %}
    <div class="container px-4">
        <div class="row justify-content-center">
            <p class="mx-auto center mb-1" style="font-size: 18px;">
                Welcome back!
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="mx-auto center mb-1" style="font-size: 18px;">
                Please sign in to your BAM account.
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="mx-auto center" style="font-size: 14px;">
                Don't have a BAM account yet? <a href="{{ url_for('register') }}">Click here to sign up</a>
            </p>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row justify-content-center">
            <div class="alert alert-secondary" role="alert">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p class="mx-auto center">
                    <a href="{{ url_for('google.login') }}">Google Sign-In Placeholder</a>
                </p>
            </div>
            <div class="col-md-4">
                <p class="mx-auto center">
                    Facebook Sign-In Placeholder
                </p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center py-3">
            <p class="mx-auto center mb-1">
                Or use your unique BAM credentials below.
            </p>
        </div>
        <div class="row justify-content-center">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="mb-2">
                    {{ form.username(size=32) }}<br>
                    {{ form.username.label }}
                </p>
                <p class="mb-2">
                    {{ form.password(size=32) }}<br>
                    {{ form.password.label }}
                </p>
                <p class="mx-auto center pb-3">{{ form.submit(class_="btn btn-dark") }}</p>
            </form>
        </div>
    </div>
{% endblock %}
