[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
requests = "*"
Flask-Login = "*"
redis = "*"
cryptography = "*"
Flask-WTF = "*"
blinker = "*"
google-auth = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3"
