[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gevent = "*"
gunicorn = "*"
requests = "*"
flask-login = "*"
redis = "*"
cryptography = "*"
flask-wtf = "*"
flask-dance = "*"
blinker = "*"
flask-socketio = "*"
gevent-websocket = "*"

[dev-packages]

[requires]
python_version = "3"
