body {
  font-family: 'Archivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00B7FF;
}

.center {
  text-align: center;
}

input {
  -webkit-touch-callout: none !important; 
}

input:focus {
  outline: none;
}